
<div class="page-header">
    <h1>Restaurants</h1>
</div>

<%= link_to 'Post a New Restaurant', new_restaurant_path, class: "btn btn-success" %>

<% @restaurants.each do |restaurant| %>
    <div class="restaurant">
        <br>
        <strong><%= restaurant.name %></strong>
        <p><%= restaurant.address %></p>
        <p><%= restaurant.opening %></p>
        <p><%= restaurant.price %></p>
        <p><%= restaurant.distance %> (min)</p>
        <p><%= restaurant.phone %></p>
        <p><%= link_to restaurant.website, restaurant.website %></p>
        <div class="meta">
            <%= link_to time_ago_in_words(restaurant.created_at) + " ago" , restaurant %>
            <span class="admin">
                | <%= link_to 'Edit', edit_restaurant_path(restaurant) %> |
                <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </div>
    </div>
<% end %>


<!-- <h1>Restaurants</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Opening</th>
    <th>Price</th>
    <th>Distance (min)</th>
    <th>Phone</th>
    <th>Website</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= restaurant.name %></td>
    <%= restaurant.address %>
    <%= restaurant.opening %>
    <%= restaurant.price %>
    <%= restaurant.distance %>
    <%= restaurant.phone %>
    <%= restaurant.website %>
    <td><%= link_to 'Show', restaurant %></td>
    <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
    <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Restaurant', new_restaurant_path %> -->
